TILED_SINGLE_USER_API_KEY=<unique api key>

PREFECT_DB_PW=<unique password>
PREFECT_DB_USER=prefect_user
PREFECT_DB_NAME=prefect
PREFECT_DB_SERVER=prefect_db

TILED_DB_PW=<unique password>
TILED_DB_USER=tiled_user
TILED_DB_NAME=tiled
TILED_DB_SERVER=tiled_db

TILED_SINGLE_USER_API_KEY=<api key>


MLEX_SEGM_USER=mlex_segm_user
MLEX_SEGM_PW=<unique password>

TILED_API_KEY=<api key>

TILED_INGEST_TILED_CONFIG_PATH=/deploy/config
TILED_INGEST_RMQ_HOST=rabbitmq
TILED_INGEST_RMQ_USER=guest
TILED_INGEST_RMQ_PW=guest

FLOW_NAME="Parent flow/launch_parent_flow"
TIMEZONE="US/Pacific"

#mlflow_db
MLFLOW_DB_PW=<unique password>
MLFLOW_DB_USER=mlflow_user
MLFLOW_DB_NAME=mlflow
#mlflow
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_TRACKING_USERNAME=admin
MLFLOW_TRACKING_PASSWORD=<unique password>
MLFLOW_FLASK_SERVER_SECRET_KEY=<unique password>

#for test mlflow model inference only
DATA_TILED_URI_IMAGES=<tiled-image-url>
DATA_TILED_URI_MASKS=<tiled-mask-url>