data/prefect_db
data/tiled_db
data/tiled_storage/writable
data/results
data/tiled_storage/recons/
data/mlflow*
data/annotations/
data/*cache*/
data/lightly_results/
__pycache__
.env
.DS_Store
rabbitmq/

.vscode/

mlex_dlsia_segmentation_prototype/
mlex_prefect_worker/
mlex_tiled_ingest/
mlex_highres_segmentation/

docker-compose.override.yaml
basic_auth.ini